#info:
#  description: Spring Cloud Samples
#  url: https://github.com/spring-cloud-samples

eureka:
  password: password
  instance:
    hostname: ${vcap.application.uris[0]:localhost}
    non-secure-port: 80
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
#  client:
#    service-url:
#      defaultZone: ${vcap.services.${PREFIX:}eureka.credentials.uri:http://user:${eureka.password:}@${PREFIX:}eureka.${application.domain:cfapps.io}}/eureka/


#security:
#   oauth2:
#      client:
#        access-token-uri: ${vcap.services.${PREFIX:}sso.credentials.tokenUri:}
#        user-authorization-uri: ${vcap.services.${PREFIX:}sso.credentials.authorizationUri:}
#        client-id: ${vcap.services.${PREFIX:}sso.credentials.clientId:}
#        client-secret: ${vcap.services.${PREFIX:}sso.credentials.clientSecret:}
#      resource:
#        token-info-uri: ${vcap.services.${OAUTH2_RESOURCE_SERVICEID:${oauth2.resource.serviceId:sso}}.credentials.tokenInfoUri:}
#        service-id: ${PREFIX:}resource

application:
  domain: ${APPLICATION_DOMAIN:cfapps.io}

hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds: 60000
ribbon:
  ConnectTimeout: 3000
  ReadTimeout: 60000

spring:
  profiles: dev
  cloud:
    config:
      uri: http://${CONFIGSERVER_1_PORT_8888_TCP_ADDR:localhost}:8888
#spring:
#  profiles: cloud
#  cloud:
#    config:
#      uri: ${vcap.services.${PREFIX:}configserver.credentials.uri:http://user:password@${PREFIX:}configserver.${application.domain:cfapps.io}}

endpoints:
  restart: enabled

